.film_serie_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30rem;
    text-align: center;
    margin: 1rem 0.5rem 1rem 0.5rem;
}

.infos {
    height: 31rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.film_serie_card > div > p {
    color:rgb(224, 224, 224);
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: center;
}

.film_serie_card > h2 {
    font-family: 'Barlow Semi Condensed', sans-serif, bolder;
    color: rgb(255, 255, 255);
    text-shadow:
    -1px -1px 0 rgb(156, 123, 74),
    1px -1px 0 rgb(156, 123, 74),
    -1px 1px 0 rgb(156, 123, 74),
    2px 7px 7px rgba(156, 123, 74, 0.5);
    
}

.film_serie_card > img {
    height: 20rem;
}