@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&family=Roboto&display=swap');

.home_presentation {
    display: flex;
    justify-content: space-around;
    margin: 1rem 1.5rem 1rem 1.5rem;
    align-items: center;
}

.home_presentation > p  { 
    color:rgb(224, 224, 224);
    text-align: center;
    width: 50rem;
}

.popcorn {
    height: 6rem;
}